_universal/
node_modules/
test-results-*.html
test-results/
playwright-report/
blob-report/
.idea/
.eslintcache
tmp/
.cache/
computed-style-diff-output/
/dist/
**/__screenshots__/
/.vitest-attachments/
.tool-versions
config.json
mcp-output/
